@import '../../../styles/variables.scss';

.christmas-tree {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-basis: 100%;
}

.settings,
.result {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  height: 95%;
  animation: ani 1.5s ease-in-out forwards;
  animation-delay: 2s;
  @keyframes ani {
    0% {
      transform: translateY(10%);
    }
    15% {
      transform: translateY(5%);
    }
    30% {
      transform: translateY(-5%);
    }
    45% {
      transform: translateY(3%);
    }
    60% {
      transform: translateY(-3%);
    }
    75% {
      transform: translateY(1%);
    }
    85% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.settings {
  .wrap.wrap__row {
    justify-content: flex-start
  }
}

.result {
  justify-content: space-between;
}

.main-tree {
  position: relative;
  background-image: url(https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  flex: 2;
  height: 100%;
  z-index: 0;
  transition: all 0.5s linear;
  animation: rotate 1.5s ease-in-out forwards;
  animation-delay: 2s;
  transform: scale(0);
  @keyframes rotate {
    0% {
      transform: rotate(45deg) scale(0);
    }
    15% {
      transform: rotate(90deg) scale(0.1);
    }
    30% {
      transform: rotate(135deg) scale(0.2);
    }
    45% {
      transform: rotate(180deg) scale(0.3);
    }
    60% {
      transform: rotate(225deg) scale(0.4);
    }
    75% {
      transform: rotate(270deg) scale(0.5);
    }
    85% {
      transform: rotate(315deg) scale(0.6);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}

.choose-tree,
.choose-background,
.choose-garland {
  display: flex;
  flex-wrap: wrap;
  flex-basis: content;
  .wrap__row {
    justify-content: start;
    row-gap: 0.5em;
    column-gap: 0.5em;
  }
}

.toy {
  position: relative;
  width: 5em;
  height: 5em;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  border-radius: 0.5em;
}

.toys__component {
  display: flex;
  width: 100%;
  flex-direction: column;
  .wrap__row {
    justify-content: space-between;
    align-content: space-around;
    height: 100%;
    column-gap: 0.5em;
    row-gap: 0.5em;
  }
}

.quantity {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $hover-color;
  color: white;
  font-family: $Lobster;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 1.3em;
  height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decorate-tree {
  min-width: 6.7em;
  min-height: 6.7em;
  backdrop-filter: blur(31px);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 0.5em;
  animation: showDecorate 1.5s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  @keyframes showDecorate {
    from {
      transform: scale(0) translate(-100%, -100%);
    }
    to {
      transform: scale(1);
    }
  }
}

.decorate {
  display: flex;
  flex-direction: column;
  .wrap.wrap__row {
    display: flex;
    justify-content: start;
    overflow-x: auto;
    gap: 10px;
    height: 9em;
    width: 27em;
    overflow-y: auto;
    flex-wrap: nowrap;
    @media (max-width: 768px) {
      width: 20em;
    }
  }
}

.countdown-container{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 10%;
  .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4,
    small {
      color: $main-color;
      font-size: 20px;
      font-family: $Lobster;
    }
    small {
      font-size: 12px;
    }
  }
}

