<section class="settings">
  <div class="wrap wrap__row">
    <a href="" class="comp__search_link" id="sound">
      <img class="img img__button" src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/svg/audio.svg" alt="mute button">
    </a>
    <a href="" class="comp__search_link" id="snowflake">
      <img class="img img__button" src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/svg/snow.svg" alt="show snow button">
    </a>
  </div>
  <div class="choose-tree">
    <h3 class="title title__settings">Choose Christmas tree</h3>
    <div class="wrap wrap__row trees">
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/1.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/1.png" alt="green-tree" class="img img__tree">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/2.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/2.png" alt="pine-tree" class="img img__tree">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/3.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/3.png" alt="cone-tree" class="img img__tree">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/4.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/4.png" alt="gold-tree" class="img img__tree">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/5.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/5.png" alt="fir-tree" class="img img__tree">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/6.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/6.png" alt="blue-tree" class="img img__tree">
      </picture>
    </div>
  </div>
  <div class="choose-background">
    <h3 class="title title__settings">Choose background</h3>
    <div class="wrap wrap__row backgrounds">
      <picture class="img img__background">
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/1.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/1.png" alt="snow" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/2.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/2.png" alt="blue" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/3.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/3.png" alt="snow-tree" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/4.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/4.png" alt="miracle" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/5.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/5.png" alt="snow-city" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/6.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/6.png" alt="moon" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/7.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/7.png" alt="bullfinches" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/8.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/8.png" alt="snow-town" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/9.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/9.png" alt="snow-house" class="img img__background">
      </picture>
      <picture>
        <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/10.webp">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg/10.png" alt="night-city" class="img img__background">
      </picture>
    </div>
  </div>
  <div class="choose-garland">
    <h3 class="title title__settings">Choose garland's lighting</h3>
    <div class="wrap wrap__row garland">
      <div class="radio">
        <label class="custom-radio">
          <input type="radio" name="color" id="color-much">
          <span class="radio-much"></span>
        </label>
      </div>
      <div class="radio">
        <label class="custom-radio">
          <input type="radio" name="color" id="color-yellow">
          <span class="radio-yellow"></span>
        </label>
      </div>
      <div class="radio">
        <label class="custom-radio">
          <input type="radio" name="color" id="color-blue">
          <span class="radio-blue"></span>
        </label>
      </div>
      <div class="radio">
        <label class="custom-radio">
          <input type="radio" name="color" id="color-red">
          <span class="radio-red"></span>
        </label>
      </div>
      <div class="radio">
        <label class="custom-radio">
          <input type="radio" name="color" id="color-green">
          <span class="radio-green"></span>
        </label>
      </div>
      <div class="toggle-button-cover">
        <div class="button-cover">
          <div class="button r" id="button">
            <input type="checkbox" class="checkbox" />
            <div class="knobs"></div>
            <div class="layer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-tree">
  <picture>
    <source srcset="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/1.webp">
    <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/tree/1.png" alt="green-tree" class="img img__main-tree">
  </picture>
</section>
<section class="result">
  <div class="toys">
    <h3 class="title title__settings">Toys</h3>
    <div class="wrap wrap__row">
      <div class="toy">
        <img src="https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/toys/1.webp" class="img img__toy" alt="toy">
        <span class="quantity">5</span>
      </div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
      <div class="toy"></div>
    </div>
  </div>
  <div class="decorate">
    <h3 class="title title__settings">You decorated</h3>
    <div class="wrap wrap__row">
      <div class="decorate-tree"></div>
      <div class="decorate-tree"></div>
      <div class="decorate-tree"></div>
      <div class="decorate-tree"></div>
    </div>
  </div>
</section>