* {
  --green: rgba(0,247,165,1);
  --dark-green: rgba(0,247,165,0.2);
  --light-green: rgba(0,247,165,0.4);
  --blue: rgba(0,255,255,1);
  --dark-blue: rgba(0,255,255,0.5);
  --light-blue: rgba(0,255,255,0.4);
  --red: rgba(247,0,148,1);
  --dark-red: rgba(247,0,148,0.2);
  --light-red: rgba(247,0,148,0.4);
}

.lights {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 45%;
  height: 80%;
  top: 16%;
  left: 49%;
  transform: translateX(-50%);
  animation: showGarland 1s linear;
  li {
    position: absolute;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: calc($globe-spacing/2);
    display: inline-block;
    background: var(--green);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--green);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: var(--blue);
      box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--dark-blue);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: var(--red);
      box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--red);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 { 
  0%, 
  100% { 
    background: var(--green);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--green);
  } 
  50% {
    background: var(--light-green);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--dark-green);
  }
}
@keyframes flash-2 { 
  0%, 
  100% { 
    background: var(--blue);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--blue);
  } 
  50% { 
    background: var(--light-blue);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--dark-blue);
  }
}
@keyframes flash-3 { 
  0%, 
  100% { 
    background: var(--red);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--red);
  } 
  50% { 
    background: var(--light-red);
    box-shadow: 0px calc($globe-height/6) calc($globe-width*2) $globe-spread var(--dark-red);
  }
}
@keyframes showGarland {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}