* {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $hover-color;
    border-radius: 5px;
    border: 3px solid transparent;
  }
  @media (max-width: 1920px) {
    font-size: 16px;
  }
  @media (max-width: 1720px) {
    font-size: 15px;
  }
  @media (max-width: 1651px) {
    font-size: 14px;
  }
  @media (max-width: 1100px) {
    font-size: 11px;
  }
  @media (max-width: 1024px) {
    font-size: 10px;
  }
  @media (max-width: 768px) {
    font-size: 9px;
  }
}

.page {
  background-image: url("https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#canvas {
  position:absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: showSnow 4s linear;
  @keyframes showSnow {
    from {
      transform: translateY(-100%) translateX(-50%);
      left: 50%;
    }
    to {
      transform: translateY(0) translateX(-50%);
    }
  }
}

.root {
  height: 100vh;
  position: relative;
}

#current-page {
  height: calc(100vh - 6em);
  display: flex;
  justify-content: center;
  animation: showPage 1.9s ease-in-out;
  @keyframes showPage {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

.article {
  width: 20%;
  padding: 1em;
  background: $main-color;
  margin-left: 1em;
  margin-bottom: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: relative;
  flex-basis: content;
  animation: showUp 0.9s ease-in-out;
  animation-duration: 4s;
  @media (max-width: 1920px) {
    height: 85%;
  }
  @media (max-width: 1024px) {
    height: 80%;
  }
  @media (max-width: 768px) {
    flex-basis: none;
    width: 50%;
  }
  @keyframes showUp {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

.main {
  width: 80%;
  padding: 1em;
  overflow-x: hidden;
  @media (max-width: 425px) {
    width: 50%;
  }
}

