form {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search {
  flex: 4;
  background: radial-gradient(118.88% 606.86% at 0% 0%, $main-color 0%, rgba(36, 197, 219, 0) 100%);
  z-index: 1;
  & input {
    width: 100%;
    height: 2em;
    padding-left: 10px;
    border: 2px solid $hover-color;
    border-radius: 5px;
    outline: none;
    background: radial-gradient(118.88% 606.86% at 0% 0%, $main-color 0%, rgba(36, 197, 219, 0) 100%);
    font-family: $Lobster;
  }
  & .button {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 2em;
    height: 2em;
    border: none;
    background: $hover-color;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transform: translateY(-50%);
    &:before {
      content: "";
      position: absolute;
      margin: auto;
      top: 1em;
      right: 0;
      bottom: 0;
      left: 1em;
      width: 0.5em;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
    &.close {
      &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 1.5em;
      }
      &::after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 1.5em;
        height: 2px;
        background: white;
        border-radius: 0;
        border: none;
        transform: rotate(135deg);
      }
    }
  }
}

.sort {
  appearance: none;
  flex: 100%;
  background: $main-color;
  height: 2em;
  padding-left: 10px;
  margin-top: 0.3em;
  border: 2px solid $hover-color;
  border-radius: 5px;
  outline: none;
  background: radial-gradient(118.88% 606.86% at 0% 0%, $main-color 0%, rgba(36, 197, 219, 0) 100%);
  background-image: url("https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/svg/arrow-down.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 95% center;
  color: white;
  font-family: $Lobster;
  z-index: 1;
  & > option {
    background-color: $main-color;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $hover-color;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      z-index: 1;
      cursor: pointer;
    }
  }
  &.yellow {
    &+label {
      &::before {
        background-color:#ffff00;
      }
    }
  }
  &.white {
    &+label {
      &::before {
        background-color:#fff;
      }
    }
  }
  &.red {
    &+label {
      &::before {
        background-color:#ff0000;
      }
    }
  }
  &.blue {
    &+label {
      &::before {
        background-color:#0000ff;
      }
    }
  }
  &.green {
    &+label {
      &::before {
        background-color:#00ff00;
      }
    }
  }
  &:checked+label {
    color: $hover-color;
    text-decoration: underline;
    &::before {
      border-color: $hover-color;
      background-color: $hover-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
  &:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
    color: $hover-color;
  }
  &:not(:disabled):active+label::before {
    background-color: $hover-color;
    border-color: #b3d7ff;
  }
}

.type {
  z-index: 1;
}

.descr {
  font-family: $Lobster;
  transition: all 0.5s linear;
  cursor: pointer;
  &:hover {
    color: $hover-color;
  }
}

.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:not(:disabled):not(:checked) {
    background: white;
  }
  &:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  &:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  &:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  &:checked+span::before {
    border-color: $hover-color;
    background-color: $hover-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  &:disabled+span::before {
    background-color: #e9ecef;
  }
}

.custom-radio > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $hover-color;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.radio-much {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
}

.radio-yellow {
  background-color:#ffff00;
}

.radio-blue {
  background-color:rgba(0,255,255,1);
}

.radio-red {
  background-color:#ff0000;
}

.radio-green {
  background-color:#00ff00;
}

.radio {
  margin-bottom: 0.2em;
}

.toggle-button-cover {
  position: relative;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 2.5em;
  height: 21px;
  transform: translateY(-61%);
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button .knobs:before {
  content: "YES";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2em;
  height: 2em;
  color: #fff;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 0.5em;
  background-color: $hover-color;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button .checkbox:active + .knobs:before {
  width: 2.7em;
  border-radius: 7em;
}

#button .checkbox:checked + .knobs:before {
  content: "NO";
  left: 3em;
  background-color: #f44336;
}

#button .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
