.parallax
  background-image: url("../assets/img/parallax.webp")
  min-height: 400px
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover