.explore
  max-height: 865px
  padding-top: 90px
  padding-bottom: 75px
  color: $white
  background-color: $blackBg
  &__block
    width: 658px
    column-gap: 60px
    &:last-child
      width: 720px
  .container
    display: flex
    justify-content: space-between
    margin-left: 241px //test
  &__title
    @include title
    margin-top: -15px
  hr
    @include hr
    height: 3px
    margin-top: 25px
    border: 0.5px solid $red
  &__text
    margin-top: 26px
    font-family: $roboto
    font-size: 22px
    line-height: 38px
    font-weight: 300
    span
      color: $gold
    &:nth-child(n + 2):nth-child(-n + 3)
      margin-top: 76px
  &__img
    display: none
    width: 720px
    height: 700px
  .active
    display: inline