.header
  max-height: 200px
  padding: 74px 240px 76px
  background-color: $blackBg
  &__wrapper
    display: flex
    justify-content: space-between
  &__logo
    width: 195px
    height: 50px
    font-family: $forum
    font-size: 28px
    line-height: 50px
    font-weight: 400
    letter-spacing: 5px
    text-align: right
    text-transform: uppercase
    color: $white
    background: url("../assets/svg/logo.svg") 0px center/20% no-repeat
  &__items
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 720px
    padding: 0
    margin-left: 525px
    list-style: none
  &__item
    margin-right: 76px
    &:last-child
      margin-right: 0
  &__link
    height: 50px
    font-family: $roboto 
    font-size: 22px
    line-height: 50px
    letter-spacing: 2px
    font-weight: 100
    text-decoration: none
    color: $white
    &:hover
      color: $gold
    &:active
      color: $gold

