* {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  margin: 0;
}

.page {
  background-image: url("https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg.webp");
  margin: 0;
}

.root {
  height: 100vh;
  position: relative;
}

#current-page {
  height: 80%;
  display: flex;
  justify-content: center;
}

.article {
  width: 25%;
  padding: 1em;
  background: $main-color;
  margin: 0 1em 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: relative;
  flex-basis: auto;
}

.main {
  width: 75%;
  padding: 1em;
  overflow-x: hidden;
}

