* {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  margin: 0;
}

.page {
  background-image: url("https://raw.githubusercontent.com/Diluks93/stage1-tasks/christmas-task/assets/bg.webp");
  margin: 0;
}

.root {
  height: 100vh;
  position: relative;
}

#current-page {
  height: 80%;
}
