@keyframes hide 
  from
    opacity: 1
  to
    opacity: 0

@keyframes visible 
  from
    opacity: 0
  to
    opacity: 1

@keyframes rippleAnim 
  from 
    width: 0
    height: 0
  to 
    width: 350px
    height: 350px
    opacity: 0.3
    transform: translate(-50%, -50%) scale(3)

@keyframes slidy 
  0% 
    left: 0%
  10%
    left: 0%
  25% 
    left: -100%
  35%
    left: -200%
  45%
    left: -300%
  55%
    left: -400%
  65% 
    left: -500%
  75% 
    left: -600%
  85% 
    left: -700%
  100% 
    left: -700%

@keyframes left 
  from 
    left: 0
  
  to 
    left: -100%

@keyframes right 
  from 
    left: 100%
  
  to 
    left: 0
  