* {
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  height: 100%;
}

body {
  width: 100vw;
  background: #E0EAFC;
  background-repeat: no-repeat;
  font-family: $font-family;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $main-color;
  transition: color 0.5s linear;
  margin: 0 3em;
  &:hover{
    color: $hover-color;
  }
  &:active{
    color: $active-color;
  }
}

h1, h2, h4 {
  text-align: center;
}

h4 {
  margin: 0.5em;
}

figure {
  position: relative;
  margin: 0em;
}