.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
}