.reverse-spinner,
.home-page,
.categories,
.settings,
.error {
  opacity: 0;
  transform: translateX(-100vw);
  position: fixed;
  margin-top: 1em;
}

.home-page,
.categories,
.settings,
.error {
  width: 100%;
  &.active {
    transition: transform 0.9s ease-in-out;
    opacity: 1;
    transform: translate(0);
    position: static;
  }
}

.reverse-spinner {
  &.active {
    opacity: 1;
    transform: translate(0);
  }
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  &__btn {
    margin-top: 1em;
    justify-content: center;
    column-gap: 2em;
  }
  a {
    margin: 0;
  }
  &__categories {
    flex-direction: row
  }
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    &__btn {
      justify-content: space-evenly;
      flex-direction: row;
    }
    &__categories {
    flex-direction: row
    }
  }
}