//!не используется

.setting {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw);
  background-color: $overlay-color;
  transition: all 0.5s ease-in-out;
  &.visible{
    transform: translateX(0);
  }
}