@mixin title
  font-family: $forum
  font-style: normal
  font-weight: 400
  font-size: 80px
  line-height: 90px
  letter-spacing: 5px
  text-transform: uppercase
  color: $white

@mixin hr
  display: block
  height: 3px
  width: 100%
  margin-top: 24px
  background-color: $red