.welcome
  height: 750px
  padding-top: 114px
  background-color: $blackBg
  background-image: url("../assets/img/welcome.jpg")
  background-repeat: no-repeat
  background-position: calc(50% + 353px) 0
  background-size: 1215px 750px
  &__title
    @include title
  &__wrapper
    max-width: 598px
  &__text
    margin-top: 26px
    font-family: $roboto
    font-size: 28px
    line-height: 33px
    letter-spacing: 2px
    font-weight: 300
    color: $white
  &__btn
    display: block
    width: 360px
    height: 75px
    margin-top: 76px
    padding: 25px 66px
    font-family: $roboto
    font-size: 22px
    line-height: 26px
    letter-spacing: 2px
    font-weight: 100
    text-decoration: none
    text-align: end
    color: $white
    background-color: $red
    border-radius: 10px
    transition: background-color 0.6s linear
    &:hover
      background-color: $gold   
  &__img
    width: 1215px
    height: 750px
