.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.home__cart {
  align-items: flex-end;
  &:hover {
    .home__descr {
      color: $hover-color;
    }
  }
  &:active {
    .home__descr {
      color: $active-color;
    }
  }
}

@media (max-width: 1024px) {
  .home__cart {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
  }
}