.description {
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0.5em;
  transition: color 0.2s ease-in;
}

.home__descr span {
  font-weight: normal;
  font-size: 1em;
}

.category__descr {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  bottom: 0em;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  background-color: $hover-color;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

@media (max-width: 1024px) {
  .home__descr {
    position: absolute;
    width: inherit;
    bottom: 0;
    transform: translateX(50%);
  }
}

@media (max-width: 400px) {
  .home__descr {
    transform: translateX(25%);
  }
}
