.img {
  width: 100px;
}

.home__img {
  box-shadow: 5px 3px 10px 5px grey;
  &:active {
    box-shadow: 2px 1px 10px 5px grey;
  }
}

.setting__img {
  background-color: #fff;
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home__img,
.setting__img {
  width: 25.7em;
  height: 25.9em;
}

.img-school {
  width: 6em;
}
.img-title {
  width: 7em;
}

.img-category {
  display: block;
  width: 11em;
  height: 11em;
  object-fit: cover;
  filter: grayscale(1);
}

@media (max-width: 1024px) {
  .home__img {
    width: 26em;
    height: 16em;
    object-fit: cover;
  }
  .img-title {
    width: 5em;
  }
  .setting__img{
    width: 20.7em;
    height: 17.9em;
  }
}

@media (max-width: 400px) {
  .home__img {
    width: 20em;
  }
}
