.title {
  opacity: 0;
  &.active {
    opacity: 1;
  }
  &__cart {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    color: $main-color;
  }
}

.subtitle {
  text-transform: uppercase;
  color: $main-color;
}